
main {
  display: grid;
  grid-template-columns: 25% 1fr 25%;
  height: 100vh;
}

a {
  text-decoration: none;
  color: black;
  
}

nav{
background-color: lightgrey;
color: white;
}

.grid-item{
display: flex;
flex-direction: column;
justify-content: center;
background-color: lightgray;
border: black 1px solid;
opacity: .7;
height: 100vh;
}


.grid-item:hover {
opacity: 1;
}

.create-lineup-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  
}

.side-selection {
  margin: 0 auto;
display: flex;
justify-content: space-evenly;
width: 700px;
}

.attack {
width: 300px;
height: 300px;
background-color: #2499ff;
transition: 300ms;
}

.attack:hover{
  opacity: .8;
  height: 320px;
  width: 320px;
}

.defense {
width: 300px;
height: 300px;
background-color: #d89c27;
transition: 300ms;
}

.defense:hover {
  opacity: .8;
  height: 320px;
  width: 320px;
}

.team-selection-grid{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;

}

.selection-card{
  width: 350px;
  height: 400px;
  background-color: grey;
}

.selection-card:hover {
  opacity: .8;

}

.selector-grid{
  height: 100vh;
  display: flex;
  align-items: center;
}

.operator-grid {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 450px;
  background-color: grey;
}

.operator{
  width: 100px;
  height: 100px;
  background-color: #2499ff;
}

.operator:hover {
  opacity: .7;
}

.equipment-grid {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 450px;
  background-color: grey;

}

.equipment{
  width: 50px;
  height: 50px;
  background-color: #2499ff;
}

